*.o
*.d
*~
*.flat
*.a
.*.cmd
*.ko
*.mod.c
config.mak
kvm-kmod-config.h
modules.order
Module.symvers
Modules.symvers
Module.markers
.tmp_versions
.tmp.kvm-kmod.*
include-compat/asm
include
x86/modules.order
.stgit-*
